#predict-input {
  color: limegreen;
  font-size: 3em;
  line-height: 1.2;
}



@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.toast.slide-in {
  animation: slideInRight 0.5s ease forwards;
}

.toast.slide-out {
  animation: slideOutRight 0.5s ease forwards;
}


@media (min-width: 420px) {
  #predict-input {
    font-size: 4em;
  }
}

@media (min-width: 568px) {
  #predict-input {
    font-size: 5em;
  }
}

@media (min-width: 768px) {
  #predict-input {
    font-size: 7em;
  }
}

@media (min-width: 992px) {
  #predict-input {
    font-size: 10em;
  }
}
 
@media (min-width: 1200px) {
  #predict-input {
    font-size: 12em;
  }
}

@media (min-width: 1400px) {
  #predict-input {
    font-size: 14em;
  }
}